
.App-logo {
    height: 40vmin;
    width: 40vmin;
    pointer-events: none;
    background-image:url("https://media.tenor.com/98dCgWDs4rsAAAAC/epic-sax-guy-sax.gif");
    margin-top: 20vmin;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  